DATABASE_URL=postgresql://{{ postgres_user }}:{{ postgres_password }}@postgres:5432/{{ postgres_db }}
AUTH_SECRET={{ auth_secret }}
AUTH_TRUST_HOST=true
AUTH_URL=https://{{ app_domain }}
NEXTAUTH_URL=https://{{ app_domain }}
DISABLE_AUTH_LOCAL=false
GOOGLE_CLIENT_ID={{ google_client_id }}
GOOGLE_CLIENT_SECRET={{ google_client_secret }}
OPENAI_KEY_ENCRYPTION_SECRET={{ openai_key_encryption_secret }}
GOTENBERG_URL=http://gotenberg:3000
PDF_TIMEOUT_MS={{ pdf_timeout_ms }}
OPENAI_MODEL={{ openai_model }}
OPENAI_TIMEOUT_MS={{ openai_timeout_ms }}
NEXT_PUBLIC_STRIPE_CHECKOUT_URL={{ next_public_stripe_checkout_url }}
